/* general document */
body {
	font-family: "AvenirNext-Regular";
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.center {
	text-align: center;
}

.wrapper {
	min-height: calc(100vh - 171px);
	padding-left: 240px;
}

.btn {
	background-color: #F19F4D;
}

.btn:hover {
	background-color: #ec8800;
}


/*
  ========================================
  Navbar
  ========================================
*/

.brand-logo {
	margin-left: 30px;
	letter-spacing: 10px;
}

.login {
  letter-spacing: 5px;
}

.brand-logo {
	letter-spacing: 10px;
	margin-left: 30px;

}

.logo-img {
	  width: 180px;
    height: 45px;
    margin-top: 10px;
}

.logo-header {
	letter-spacing: 5px;
}

nav {
	background-color: #4484CE;
}


/*
  ========================================
  Side Nav
  ========================================
*/

.side-nav {
	margin-top: 64px;
}

#search {
	padding-left: 30px;
	width: 210px;
}

.home-state {
	width: 200px;	
	margin-top: 85px;
}

#city {
	margin-top: -30px;
}

.btn-large {
	background-color: #F19F4D;
}

.btn-large:hover {
	background-color: #ee8c2b;
}

/*
  ========================================
  Landing Page
  ========================================
*/
.card img {
	height: 900px;
	border-width: 0px;
	opacity: 0.85;
}

.image {
	background-image: url(balcony.jpg);
	height: 700px;
	width: 350px;
}

.card .card-image .card-title {
	color: #fff;
	position: absolute;
	top: 50px;
	right: 30px;
	padding: 20px;
	font-size: 40px;
	letter-spacing: 15px;
	text-shadow: 0px 2px 8px #4A4A4A;
	text-align: right;
}

.card .card-image .btn {
	position: absolute;
	bottom: 20px;
	left: 181px;
	letter-spacing: 10px;
}

.dialog-box {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 200px;
	bottom: 200px;
	margin: 0 20px 0 20px;
}

.dialog-box h5 {
	color: white;
	margin: 100px 10px 0px 10px;
	text-shadow: 0px 2px 8px #4A4A4A;
}

/*
  ========================================
  Footer
  ========================================
*/

.footer-copyright {
	margin-top: -20px;
	background-color: #4484CE;
}

.white-links {
	color: white;
}

.footer {
	letter-spacing: 5px;
	background-color: #4484CE;
}

footer.page-footer .footer-copyright {
	background-color: #4484CE;
}


/*
  ========================================
  Discover
  ========================================
*/

.collapsible {
	margin: 30px;
}

.calculator {
	padding: 20px 30px 30px 30px;
}

.hamilton-cities {
	padding-top: 30px;
}

.fiber {
	padding-left: 30px;
}

.state-selector {
	margin-left: -10px;
}

.states-list {
	margin-top: -10px;	
}

.state {
	height: 90.02px;
	width: 88.59px;
}

/*
  ========================================
  Move
  ========================================
*/


.neighborhoods-list {
	-webkit-columns: 100px 3; /* Chrome, Safari, Opera */
	-moz-columns: 100px 3; /* Firefox */
	columns: 100px 3;
}


/*
  ========================================
  About
  ========================================
*/

.team {
	border-radius: 50%;
	display: block;
	margin: auto;
	width: 80%;
}

.team-members {
	margin-top: 70px;
}

.footer-copyright {
	margin-top: -20px;
}

.profile {
	padding-top: 30px;
	margin-left: 30px;
}

.profile_desc {
	padding-top: 20px;
	margin-left: 20px;
}

