body {
	font-family: "AvenirNext-Regular";
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

footer {
	background-color: gray;
}

.center {
	text-align: center;
}

.wrapper {
	min-height: calc(100vh - 171px);
	padding-left: 240px;
}

#search {
	padding-left: 30px;
}

.brand-logo {
	margin-left: 30px;
}

.side-nav {
	margin-top: 64px;
}

#city {
	margin-top: 250px;
}

.btn {
	background-color: #F19F4D;
}

.login {
  letter-spacing: 5px;
}

.brand-logo {
	letter-spacing: 10px;
}

.footer-copyright {
	margin-top: -20px;
}


/*
  ========================================
  Discover
  ========================================
*/


.collapsible {
	margin: 30px;
}

.calculator {
	padding: 20px 30px 30px 30px;
}

.hamilton-cities {
	padding-top: 30px;
}

.fiber {
	padding-left: 30px;
}

.state-selector {
	margin-left: -10px;
}

.states-list {
	margin-top: -10px;	
}


