@import "materialize/components/color";
$primary-color: skyblue !default;
@import "materialize";
@import "app.scss";

// Aluminum
// D9D9D9

// Tangerine
// F19F4D

// Yellow
// F9CF00

@font-face {
    font-family: 'AvenirNext-Demi';
    src: url('/assets/AvenirNext-Demi.ttf') format('truetype');
}@font-face {
    font-family: 'AvenirNext-Medium';
    src: url('/assets/AvenirNext-Medium.ttf') format('truetype');
}@font-face {
    font-family: 'AvenirNext-Regular';
    src: url('/assets/AvenirNext-Regular.ttf') format('truetype');
}
